[submodule "my-app"]
	path = my-app
	url = https://github.com/suwat-netprom/MultiModuleRepo_Frontend.git
[submodule "myproject"]
	path = myproject
	url = https://github.com/suwat-netprom/MultiModuleRepo_Backend.git
